<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Department of Electronics and Communication</title>
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
	</head>
	<body>
		<div id="header-placeholder"></div>
		<script type="text/javascript" src="js/script.js"></script>
		<div class="container">
			<div class="row">
				<div class="col l2"></div>
				<div class="col l8">
					<h4 align="center">ECEA</h4>
					<p align="justify">
						The biggest asset of our department is the presence of the ECE Association which works round the clock to make our dept bigger and better. ECEA functions mainly as a student organisation comprising around 1000 student members and headed by our beloved HOD Dr.S.Muttan. ECEA's prime activities include staging RESONANCE, an intra-college technical event and VISION, an inter-college technical symposium and other activities include conducting various workshops and seminars through which we sculpt our young engineer's mind according to their will.
					</p>
				</div>
				<div class="col l2"></div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col l2"></div>
				<div class="col l8">
					<h4 align="center">RESONANCE</h4>
					<p align="justify">
						In October , we give an opportunity to unleash the technical geeks within our students through the intra-college technical event RESONANCE. The students exhibit their technical expertise through project displays, paper presentations, robotics events and several on the spot events.
					</p>
				</div>
				<div class="col l2"></div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col l2"></div>
				<div class="col l8">
					<h4 align="center">VISION</h4>
					<p align="justify">
						VISION , the national level technical extravaganza which is the estuary of technical brains all over India is all set to raise your pulses in the scorching month of March. The prize money boasting around 4 lakhs and with the gush of adrenaline remaining all time high,VISION has already carved its own panache in the minds of the engineers.
					</p>
				</div>
				<div class="col l2"></div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col l2"></div>
				<div class="col l8">
					<h4 align="center">DIRECTIVITY</h4>
					<p align="justify">
						In addition to all these, several other technical seminars and workshops are being conducted. Guidance programs for juniors, like RADIANCE for second and third years and DIRECTIVITY for the first years will be conducted.
					</p>
				</div>
				<div class="col l2"></div>
			</div>
		</div>
  	</body>
</html>