<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Department of Electronics and Communication</title>
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container">
			<h4 align="center">EDIT</h4>
			<div class="row valign-wrapper">
				<div class="col s3"></div>
				<form class="col s6" method="post">
					<div class="row">
						<div class="input-field col s12">
							<input id="text_name" type="text" name="name" value="{{staff.name}}" class="validate">
							<label for="text_name">Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="staff_id" type="text" name="staffid" value="{{staff.staff_id}}" class="validate">
							<label for="staff_id">Staff ID</label>
						</div>
					</div>
					<div class="row">
	    				<div class="input-field col s12">
						    <select name="des">
						    	<option value="" disabled selected>Choose your option</option>
						    	<option value="1">Professor</option>
						    	<option value="2">Associate Professor</option>
						    	<option value="3">Assistent Professor Sr.Gr</option>
						    	<option value="3">Assistent Professor</option>
						    	<option value="3">Teaching Fellow</option>
						    </select>
						    <label>Designation</label>
						</div>
					</div>
					<div class="row valign-wrapper">
						<div class="input-field col s12">
	    					<input type="text" name="email" id="text_email" class="validate" value="{{staff.email}}">
	   						<label for="text_email">Email ID</label>
	   					</div>
	   				</div>
	   				<div class="row valign-wrapper">
						<div class="input-field col s12">
	    					<textarea id="textarea1" name="spec" class="materialize-textarea">{{staff.spec}}</textarea>
          					<label for="textarea1">Areas of Interest</label>
						</div>
					</div>
					<div class="row valign-wrapper center-align">
						<div class="input-field col s12">
    						<button class="btn" type="submit" name="action">Submit</button>
       					</div>
	  				</div>
				</form>
				<div class="col s3"></div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
	</body>
</html>