<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Department of Electronics and Communication</title>
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
	</head>
	<body>
		<div class="row valign-wrapper">
			<div class="col m2 hide-on-small-only"> 
				<div class="right">
					<img class="responsive-img" src="images/CEG_logo.png" width="100" height="100" alt="CEG logo">
				</div>
			</div>
			<div class="col s12 m8">
				<div class="center-align">
					<h4>Department of Electronics and Communication</h4>
					<h6><a href="https://www.annauniv.edu/" target="_blank">Anna university</a></h6>
				</div>
			</div>
			<div class="col m2 l2 hide-on-small-only">
					
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<nav class="z-depth-0">
				<div class="nav-wrapper">
					<a class="brand-logo left" href="#!" class="left"><i class="material-icons">home</i></a>
					<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a class="dropdown-button" data-constrainwidth="false" data-hover="true" data-beloworigin="true" data-activates="acad" href="#!">ACADEMICS<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a class="dropdown-button" data-constrainwidth="false" data-hover="true" data-beloworigin="true" data-activates="people" href="#!">PEOPLE<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a href="/infra">INFRASTRUCTURE</a></li>
						<li><a class="dropdown-button" data-constrainwidth="false" data-hover="true" data-beloworigin="true" data-activates="acti" href="#!">ACTIVITIES<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a href="/research">RESEARCH</a></li>
						<li><a href="/ecea">ECEA</a></li>
						<li><a href="/placements">PLACEMENTS</a></li>
						<li><a href="/contact">CONTACT US</a></li>
						<li><a href="/forum">FORUM</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<ul class="collapsible">
							<li><a class="collapsible-header" href="#!">ACADEMICS<i class="material-icons right">arrow_drop_down</i></a>
					            <div class="collapsible-body">
	             					<ul>
										<li><a href="/ug">UG Programs</a></li>
	  									<li><a href="/pg">PG Programs</a></li>
	  									<li><a href="/part">Part-time</a></li>
	             					</ul>
	            				</div>
							</li>
						</ul>
						<ul class="collapsible">
							<li><a class="collapsible-header" href="#!">PEOPLE<i class="material-icons right">arrow_drop_down</i></a>
					            <div class="collapsible-body">
	              					<ul>
										<li><a href="/staff">Teaching Staff</a></li>
	  									<li><a href="/nstaff">Non-Teaching Staff</a></li>
	  									<li><a href="/students">Students</a></li>
	             					</ul>
	            				</div>
							</li>
						</ul>							
						<li><a href="/infra">INFRASTRUCTURE</a></li>
						<ul class="collapsible">
							<li><a class="collapsible-header" href="#!">ACTIVITIES<i class="material-icons right">arrow_drop_down</i></a>
					            <div class="collapsible-body">
	              					<ul>
			 							<li><a href="/workshop">Workshops</a></li>
			 							<li><a href="/fv">Foriegn visits</a></li>
	           						</ul>
	           					</div>
							</li>
						</ul>
						<li><a href="/research">RESEARCH</a></li>														
						<li><a href="/ecea">ECEA</a></li>
						<li><a href="/placements">PLACEMENTS</a></li>
						<li><a href="/contact">CONTACT US</a></li>
						<li><a href="/forum">FORUM</a></li>
					</ul>
					<ul id="acad" class="dropdown-content">
  						<li><a href="/ug">UG Programs</a></li>
  						<li><a href="/pg">PG Programs</a></li>
  						<li><a href="/part">Part-time</a></li>
					</ul>
					<ul id="people" class="dropdown-content">
  						<li><a href="/staff">Teaching Staff</a></li>
  						<li><a href="/nstaff">Non-Teaching Staff</a></li>
  						<li><a href="/students">Students</a></li>
					</ul>
					<ul id="acti" class="dropdown-content">
  						<li><a href="/workshop">Workshops</a></li>
  						<li><a href="/fv">Foriegn visits</a></li>
					</ul>
				</div>
			</nav>
			<div class="divider"></div>
		</div>
		<br>
		<div class="container">
		    <div class="row">
			   <div class="col m7 hide-on-small-only">
					<div class="slider">
						<ul class="slides">
		        			<li>
								<img src="http://placehold.it/580x250">
							</li>
							<li>
								<img src="http://placehold.it/580x250">
							</li>
							<li>
								<img src="http://placehold.it/580x250">
							</li>
						</ul>
		    		</div>
				</div>
				<div class="col s12 m5">
					<h5 class="center-align">Announcements</h5>
					<hr>
		    	</div>
		  	</div>
		  	<hr><br>
			<div class="row">
		  		<div class="col l4">
		  			<img src="http://placehold.it/300x300" alt="hod">
		  		</div>
		  		<div class="col l8">
		  			<h5>HOD's Desk</h5>
		  			<div>
		  				<p align="justify">
		  							The history of the department dates back to 1930 when it was started as Telecommunication division in the department of Electrical Engineering. The department has the distinction of being the first institution in India to start a Under Graduate programme in Telecommunication Engineering in the year 1945. The first Post Graduate programme in Communication systems was introduced in 1963 and subsequently the PG programmes in Applied Electronics, Medical Electronics, VLSI design and Biomedical Engineering was introduced.

		 						    The DECE has always enjoyed a respectable status among the major recruiters in India and the excellent performance of its students across the industry has enabled the department to maintain its strong brand image. Presently, the research students are working in the areas of Adhoc Network,Optical Network,Bio-Medical Signal Processing,Medical Image Processing,VLSI Architecture etc. The Department has more industrial collaborations with global industries such as Altera,Renesas,Cypress Semiconductors,Texas Instruments which provide opportunities for students to get good exposure in hardware design. 
		 				</p>
		  			</div>
		  		</div>
		  	</div>
		  	<hr><br>
		  	<div class="row">
		    	<div class="col l5">
		  			<h5 align="center">VISION</h5>
		  			<p align="justify">
		  	     				The Department of Electronics Engineering is committed to produce globally competitive and socially sensitized graduates in Electronics & Communication Engineering. We seek to instill the spirit of creativity and leadership skills enabling the students to make a global impact towards the availability of technology to mankind from all walks of life.
		  			</p>
		  		</div>
		  		<div class="col l2">
		  					
		  		</div>
		  		<div class="col l5">
		  			<h5 align="center">MISSION</h5>
		  			<p align="justify">
		  						To impart high quality technical education to students from socially and economically diverse backgrounds
			       				Give solid foundation on Mathematical skills and allied fields of Electronics & Communication
								To produce students with technical competence to design sophisticated systems in Electronics & Communication
								To make high quality research contribution in the field of Electronics, Communication, Networking , VLSI & Signal Processing
		  			</p>
		  		</div>
		  	</div>
		</div>
  	</body>
</html>