<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Department of Electronics and Communication</title>
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="js/materialize.js"></script>
	</head>
	<body>
		<div class="row valign-wrapper">
			<div class="col m2 hide-on-small-only"> 
				<div class="right">
					<img class="responsive-img" src="images/CEG_logo.png" width="100" height="100" alt="CEG logo">
				</div>
			</div>
			<div class="col s12 m8">
				<div class="center-align">
					<h4>Department of Electronics and Communication</h4>
					<h6><a href="https://www.annauniv.edu/" target="_blank">Anna university</a></h6>
				</div>
			</div>
			<div class="col m2 l2 hide-on-small-only">
					
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<nav class="z-depth-0">
				<div class="nav-wrapper">
					<a class="brand-logo left" href="/" class="left"><i class="material-icons">home</i></a>
					<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a class="dropdown-button" data-constrainwidth="false" data-hover="true" data-beloworigin="true" data-activates="acad" href="#!">ACADEMICS<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a class="dropdown-button" data-constrainwidth="false" data-hover="true" data-beloworigin="true" data-activates="people" href="#!">PEOPLE<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a href="/infra">INFRASTRUCTURE</a></li>
						<li><a class="dropdown-button" data-constrainwidth="false" data-hover="true" data-beloworigin="true" data-activates="acti" href="#!">ACTIVITIES<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a href="/research">RESEARCH</a></li>
						<li><a href="/ecea">ECEA</a></li>
						<li><a href="/placements">PLACEMENTS</a></li>
						<li><a href="/contact">CONTACT US</a></li>
						<li><a href="/forum">FORUM</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<ul class="collapsible">
							<li><a class="collapsible-header" href="#!">ACADEMICS<i class="material-icons right">arrow_drop_down</i></a>
					            <div class="collapsible-body">
	             					<ul>
										<li><a href="/ug">UG Programs</a></li>
	  									<li><a href="/pg">PG Programs</a></li>
	  									<li><a href="/part">Part-time</a></li>
	             					</ul>
	            				</div>
							</li>
						</ul>
						<ul class="collapsible">
							<li><a class="collapsible-header" href="#!">PEOPLE<i class="material-icons right">arrow_drop_down</i></a>
					            <div class="collapsible-body">
	              					<ul>
										<li><a href="/staff">Teaching Staff</a></li>
	  									<li><a href="/nstaff">Non-Teaching Staff</a></li>
	  									<li><a href="/students">Students</a></li>
	             					</ul>
	            				</div>
							</li>
						</ul>							
						<li><a href="/infra">INFRASTRUCTURE</a></li>
						<ul class="collapsible">
							<li><a class="collapsible-header" href="#!">ACTIVITIES<i class="material-icons right">arrow_drop_down</i></a>
					            <div class="collapsible-body">
	              					<ul>
			 							<li><a href="/workshop">Workshops</a></li>
			 							<li><a href="/fv">Foriegn visits</a></li>
	           						</ul>
	           					</div>
							</li>
						</ul>									
						<li><a href="/research">RESEARCH</a></li>					
						<li><a href="/ecea">ECEA</a></li>
						<li><a href="/placements">PLACEMENTS</a></li>
						<li><a href="/contact">CONTACT US</a></li>
						<li><a href="/forum">FORUM</a></li>
					</ul>
					<ul id="acad" class="dropdown-content">
  						<li><a href="/ug">UG Programs</a></li>
  						<li><a href="/pg">PG Programs</a></li>
  						<li><a href="/part">Part-time</a></li>
					</ul>
					<ul id="people" class="dropdown-content">
  						<li><a href="/staff">Teaching Staff</a></li>
  						<li><a href="/nstaff">Non-Teaching Staff</a></li>
  						<li><a href="/students">Students</a></li>
					</ul>
					<ul id="acti" class="dropdown-content">
  						<li><a href="/workshop">Workshops</a></li>
  						<li><a href="/fv">Foriegn visits</a></li>
					</ul>
				</div>
			</nav>
			<div class="divider"></div>
		</div>
		<br>
		<div class="container">
			<h4 align="center">Under Graduate Programs</h4>
			<h5 align="center">B.E Electronics and Communication Engineering</h5>
			<br>
			<div class="row">
				<div class="col l2"></div>
				<div class="col l8">
					<div class="card">
						<div class="card-title">
							Regulation R2012
						</div>
						<div class="card-content">
							<ul>
								<li><a href="#!"><p>Academic Time Table</p></a></li>
								<li><a href="#!"><p>Curriculam and Syllabus</p></a></li>
								<li><a href="#!"><p>Assessment Schedules</p></a></li>
							</ul>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-title">
							Regulation CBCS
						</div>
						<div class="card-content">
							<ul>
								<li><a href="#!"><p>Academic Time Table</p></a></li>
								<li><a href="#!"><p>Curriculam and Syllabus</p></a></li>
								<li><a href="#!"><p>Assessment Schedules</p></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col l2"></div>
			</div>
		</div>
  	</body>
</html>